---
# Empty
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
</head>
<body>

    {% include page-header.html %}

    <section class="main-content">
      <div class="home">

<h2 id="the-secret-stage-at-codegarden-2023">The Secret Stage at Codegarden 2023</h2>
<p>The secret stage is going to Odense!</p>
<br/>
<p>Owain is planning to take the minifigs to the actual Codegarden event this year! He's hoping to be able to snap some photos of the mini community members at the event enjoying themselves with all the other attendees. </p>

<h2 id="the-secret-stage-at-codegarden-2022">The Secret Stage at Codegarden 2022</h2>

        <p>That's a wrap! </p>
        <br />
        Thank you everyone who took part in The Secret Stage this year. It was so much fun! I hope you enjoyed it as much as I did. 
        <p>
          All that is left for me to say is a couple of thank yous :
        </p>
        
        <ul>
          <li>Thanks Nik for coming up with the name “The Secret Stage”</li>
          <li>Thank you to <a href="https://minifigs.me/">Minifigs.me</a> for getting everyone to The Secret Stage on time!</li>
          <li>Thank you to Carl, Rachel and Andy for supplying some additional lego to add to the story!</li>
          <li>Thank you to Chriztian for the CSS updates to make The Secret Stage site look nicer</li>
          <li>Thank you to those of you who allowed me access to some secret info prior to the event - you know who you are 😉</li>
          <li>Thank you Umbraco for displaying The Secret Stage on a big screen at Codegarden!</li>
          <li>Thank you to every single person from the Umbraco community who got involved in The Secert Stage, I couldn't have done it without you!</li>
        </ul>
        <p>
          Until next time?
        </p>
        
      </div>
      
     

      {% include page-footer.html %}

    </section>

  </body>
</html>


