---
# this is an empty front matter
---
<!-- 
https://codepen.io/HenrikFricke/pen/GRNYrXK
-->
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/blogcard.css" />  
{% include head.html %}
  
</head>
<body>
  
  {% include page-header.html %}

  <section class="main-content">
    <h1 class="post-title">The Stage - 2024</h1>
    <p>
      {% assign orderedPosts = site.posts | sort: 'order' %}
      {% for post in orderedPosts reversed %}
        {% if post.tags contains "stage-2024"%}
        
      <a href="{{ post.url }}">
        <div class="card">
        {% include stage-image.html %}
          <div class="card__content">
            <time datetime="{{ post.date }}" class="card__date">{{ post.date | date: "%-d %B %Y"}}</time>
            <span class="card__title">{{post.caption}}<span>
            
          </div>
        </div>
      </a>
        
        {% endif %}

         
      {% endfor %}
    
    </p>
<p>
  Do you want to be involved in The Secret Stage for 2024? Well here is some good news, the doors are open again! 
    </p>
    <p>
      <h2>How to get involved</h2>
      <ul>
        <li>
          <strong>Check out previous years</strong>
          <p>Have a look at <a href="/stage/">the original stage</a> and the <a href="/attendees/">attendees</a> and get some inspiration</p>
        </li>
        <li>
          <strong>Order your minifig</strong>
          <p>You are free to use any website you like to order a custom minifig but in previous years, people have used <a href="https://minifigs.me">MiniFigs.me</a> and we recommend them. We don't get any special rewards for recommending them, they are just good to deal with.</p>
          <p><strong>SPECIAL OFFER!</strong></p>
          <p>Minifigs.me have kindly given us a 10% discount code which is valid until the end of June - use code <b>UMBRACO10</b> when you checkout</p>
        </li>
        <li>
          <strong>Where do I send my minifig to?</strong>
          <p>Send all your minifigs to Owain Williams, 23 Clark Avenue, Edinburgh, EH5 3AY</p>
          <p>Make sure they arrive before the 8th June. If they arrive after that, they won't make it to Codegarden</p>
        </li>
        <li>
          <strong>What happens once you have my minifig?</strong>
          <p>They will all be safely packed and taken over to Odense to the real <a href="https://codegarden.umbraco.com/">Codegarden</a>. We will then take photos of your minifigs and share them on social media #theSecretStage</p>
        </li>
        <li>
          <strong>Do I get my minifig back?</strong>
          <p>Yes, if you want it back. Many people have said their minifigs have enjoyed their time at The Secret Stage and so we look after them on a full time basis. If you would like your minifig back, we can meet you at an Umbraco event or if you are happy to cover postage, we'll post them back to you after Codegarden this year.</p>
        </li>
        <li>
          <strong>What if I'm going to Codegarden, can I still go to The Secret Stage?</strong>
          <p>Absolutely, and if you'd prefer to hand deliver your minifig to us then we can meetup at Codegarden instead of you posting your minifig to us.</p>
        </li>
        <li>
          <strong>I've a question that's not answered here!</strong>
          <p>No problem. You can contact Owain via the <a href="https://discord.gg/umbraco">Umbraco Discord server</a>, or on <a href="https://twitter.com/owaincodes">X</a> and <a href="https://umbracocommunity.social/@owaincodes">Mastodon</a></p>
        </li>
      </ul>
    </p>
  

  



    {% include page-footer.html %}
</section>

</body>

</html>
