---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
  <style>
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      text-align: center;
    }
    </style>

  {% include head.html %}
</head>
<body>
  
  {% include page-header.html %}

  <section class="main-content">
    <h1 class="post-title">Attendees</h1>
<p>
    If you would like to update your profile - Pull requests are welcomed via <a href="https://github.com/OwainWilliams/OwainWilliams.github.io">Github</a>
  </p>
      {% for post in site.posts %}
        {% if post.tags contains "attendee"%}
        {% include page-image-attendee.html %}
        {% endif %}
      {% endfor %}
   
  



      {% include page-footer.html %}   
</section>

</body>

</html>
